/*global*/

html,body,h1,h2,h3,p,ul,li{
  margin:0;
  padding:0;
}
*{box-sizing:border-box;}
.clearfix{overflow:auto;}

/*typograohy*/
body{font-family:sans-serif;}
html{font-size:10px;}

/*header*/
.display-menu{float:right;
width:1000px;
margin-top:30px;
}

header nav ul {
  display: block;
  text-align: center;
  padding: 25px 40px;
}

header nav li {
  display: inline-block;
  padding: 0 30px;
  font-size: 16px;
  letter-spacing: 2.5px;
}

a {
  cursor: pointer;
}

header nav li a {
  color: red;
  text-decoration: none;
}

header .menu-button {
  float: right;
  position: absolute;
  top: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  background: url(http://a3.qpic.cn/psb?/V13788hb1YXmA2/.rgCw6xBOdTokrzFkT5fNUvkxRHYHqOEgJyiy*Zn9yQ!/b/dHIBAAAAAAAA&ek=1&kp=1&pt=0&bo=AAEAAQABAAEDCC0!&sce=0-12-12&rf=viewer_311&t=5) no-repeat center;
  background-size: 10% 10%;
}

.instruction {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (min-width: 968px) {
  header .menu-button {
    display: none;
  }
}

@media all and (max-width: 968px) {
  header nav {
    visibility: hidden;
  }
  
  .show-menu-button {
    display: inline;
  }
  
  .instruction {
    display: none;
  }
}

.overlay {
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; 
  right:0; 
  left: 0;
  bottom: 0; 
  background-color: grey;
  
}

.overlay nav {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay nav ul {
  list-style: none;
}

.overlay ul li {
  padding: 20px;
}

.overlay li a {
  text-decoration: none;
  color: #fff;
}

.overlay .close-button {
  position: absolute;
  top: -50px;
  right: -50px;
  float: right;
  background: url(http://i172.photobucket.com/albums/w18/hunkybowie/close-icon_zpsy8zq6fax.png) no-repeat center;
  background-size: 10% 10%;
  width: 200px;
  height: 200px;
}

.logo{width:200px;
	
	position:absolute;
	left:30px;
    top:30px;
      }
